* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 10px
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: rgb(181, 181, 181);
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(128, 128, 128);
}

html,
body {
  background: rgb(44, 62, 78);
  background: linear-gradient(90deg, rgba(44, 62, 78, 1) 0%, rgba(55, 80, 101, 1) 53%, rgba(68, 102, 130, 1) 100%);
  font-size: 1.1rem;
  font-family: "Quicksand", sans-serif;
  height: 100%;
  font-family: sans-serif
}

.TodoList {
  margin: 4rem auto;
  padding: 2rem 3rem 3rem;
  max-width: 500px;
  background: rgba(255, 255, 255, 0.5);
  color: #333;
  box-shadow: 0 8px 24px  rgba(22, 31, 40, 0.5);
  border-radius: 25px
}

.TodoList ul {
  margin-top: 2.6rem;
  list-style: none;
  font-size: 0.95rem;
  letter-spacing: 1.25px;
}

.TodoList h1 {
  font-weight: normal;
  font-size: 2.6rem;
  letter-spacing: 0.05em;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

.TodoList h1 span {
  display: block;
  font-size: 0.8rem;
  margin-bottom: 0.7rem;
  margin-left: 3px;
  margin-top: 0.2rem;
}